<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="template.html"></script>-->
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl">
        To:<input type="text" ng-model="to" placeholder="input a name">
        EmailBody:<textarea ng-model="emailbody"></textarea>
        <pre>__previewText__</pre>
    </div>
    <script type="text/javascript" src="./../lib/angular/angular.js"></script>
    <script src="./../controller/test03.js"></script>
</body>
</html>